<!DOCTYPE html>
<html>
<head>
<title>Freshly Installed!</title>
<style>
    body {
      width: 35em;
      margin: 0 auto;
      font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1>This page is blank</h1>
<section>
  <div>
    <h2>Advisory: No content</h2>
    <p>Try adding a website to the persistent storage location.</p>
  </div>
</section>
</body>
</html>
